.base{
  composes: dark_background from "../../styles/colors.scss";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}

.wrapper{
  composes: main from "../../styles/wrapper.scss";
}

.brand{
  height: 100%;
}

.title{
  color: white;
  align-self: center;
}
