@import '../../Stylesheets/vars';

.base{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background-color: $dark;
}

.brand{
  height: 100%;
}

.title{
  color: white;
  align-self: center;
}
