$primary: #7fbd42;
$secondary: #208cbe;
$dark: #380436;
$lightGrey: #f3f3f3;


// Breakpoints
// ------------------------- Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
$highdensity: 		"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              		"only screen and (min--moz-device-pixel-ratio: 1.5)",
              		"only screen and (-o-min-device-pixel-ratio: 3/2)",
              		"only screen and (min-device-pixel-ratio: 1.5)";
$mobile:      		"only screen and (max-width: 568px)";
$mobile-landscape: 	"only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape)";
$tablet:      		"only screen and (min-width: 569px) and (max-width: 980px)";
$desktop:     		"only screen and (min-width: 981px) and (max-width: 1200px)";
$desktop-xl:  		"only screen and (min-width: 1201px)";
