{
  "presets": ["es2015", "react", "stage-0"],
  "env":{
    "production":{
      "plugins": [
        "transform-react-display-name",
        "transform-runtime",
        "transform-decorators-legacy"
      ]
    },
    "dev":{
      "plugins": [
        "transform-react-display-name",
        "transform-runtime",
        "transform-decorators-legacy",
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    }
  }
}
