.base{
  min-height: 100vh;
}

.header{
  composes: cover center from "../../styles/background.scss";
  position: relative;
  padding: 3rem;
  min-height: 400px;
  z-index: 1;


  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: fade-out(black, .6);
  }
}

.content{
  padding: 2rem;
  background-color: white;
}

.wrapper{
  composes: main from "../../styles/wrapper.scss";
  position: relative;
  background-color: white;
  padding: 2rem;
  top: -10rem;
  z-index: 20;
}

.title{
  position: relative;
  z-index: 2;
}
