.base{
  composes: container from "../../styles/flexbox.scss";
  background-color: white;
  margin-bottom: 1rem;
}

.thumbnail{
  composes: child_1 from "../../styles/flexbox.scss";
  composes: cover center from "../../styles/background.scss";
}

.info{
  composes: child_1 from "../../styles/flexbox.scss";
  padding: 2rem;
}

.title{
  font-size: 2rem;
  margin-top: 0rem;
}
