.base{
  composes: child_1 container justify_center from '../../styles/flexbox.scss';
  position: relative;
}

.Homepage{
  composes: base;
  composes: priamry primary_bg from '../../styles/colors.scss';
}

.Work{
  composes: base;
  composes: secondary_bg from '../../styles/colors.scss';
}

.Play{
  composes: base;
  composes: dark_bg from '../../styles/colors.scss';
}

.Hire{
  composes: base;
  composes: tertiary_bg from '../../styles/colors.scss';
}

.with_background{
  composes: cover from '../../styles/background.scss';
  background-position-x: 40%;
  position: relative;

  &:after{
    background-color: fade-out(black, .65);
  }
}

.title{
  composes: strong uppercase center bold from '../../styles/typography.scss';
  composes: self_center from '../../styles/flexbox.scss';
  // background-color: fade-out(white, .2);
  border: 10px solid fade-out(black, .8);
  color: white;
  font-size: 6vw;
  line-height: 5vw;
  padding: 1rem 2rem;
  pointer-events: none;
}
