.page__base {
  min-height: 100vh;
  opacity: 0;
  transition: opacity 300ms ease-out;
  padding-top: 5rem; }

.page__wrapper {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
.flexbox__container {
  display: flex; }

.flexbox__child_1 {
  flex: 1; }

.flexbox__justify_center {
  justify-content: center; }

.flexbox__align_center {
  align-content: center; }

.flexbox__self_center {
  align-self: center; }
.background__cover {
  background-size: cover; }

.background__center {
  background-position: center center; }
.post__excerpt {
  background-color: white; }
  .post__excerpt:not(:last-of-type) {
    margin-bottom: 1rem; }

.post__info {
  padding: 2rem; }

.post__thumbnail { }
